<%
  type = params.dig(:search, :item_type)
  id = params.dig(:search, :item_id)
  global = !type || !id
  page_title(global ? "Versions" : "Versions for #{type} #{id}")
  users = Hash.new { |h, k| h[k] = User.find_by_id(k) } # avoid N+1s
%>

<%= search_form do %>
  <%= search_select :event, ["create", "update", "destroy"] %>
  <%= search_select :item_id, versioned_classes.map(&:name).sort, label: "Resource" %>
  <%= search_select :whodunnit, User.pluck(:name, :id), live: true, label: "By" %>
<% end %>

<table class="table">
  <tr>
    <th></th>
    <th></th>
    <th>Diff</th>
  </tr>
  <% @versions.each do |v, diff| %>
    <tr>
      <td><%= v.id %></td>
      <td>
        <% if global %>
          <%= v.item ? link_to_resource(v.item) : "#{v.item_type} #{v.item_id}" %>
          <br/>
        <% end %>
        <%= v.event %>
        by
        <% if v.whodunnit =~ /^\d+$/ && user = users[v.whodunnit] %>
          <%= link_to user.name, user_path(user) %>
        <% else %>
          <%= v.whodunnit %>
        <% end %>
        <br/>
        <%= render_time v.created_at %>
      </td>
      <td>
        <% if diff %>
          <% diff.each do |key, previous, current| %>
            <%= key %>: <%= readable_ruby_value previous %> -> <%= readable_ruby_value current %><br/>
          <% end %>
        <% else %>
          Unable to find item
        <% end %>
        <details>
          <summary>Full</summary>
          <%= simple_format v.object %>
        </details>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @versions %>
